/* Imports */
@import url("reset.css");

@import "content";
@import "github";
@import url("pygment.css");

/***** Global *****/
/* Body */
html {
  min-width: 800px;
}

body {
  background: @back-color;
  color: @fore-color;
  font-size: 87.5%; /* Base font size: 14px */
  font-family: 'Helvetica Neue', Verdana, Arial, sans-serif;
  line-height: 1.429;
  margin: 0 0 50px 0;
  padding: 0;
  text-align: left;
}

code { font-family: 'Inconsolata', 'Courier', monospace; }

/* HTML5 tags */
header, hgroup, section, footer, aside, nav, article, figure { display: block; }

/* Headings */
h1 {font-size: 2em }
h2 {font-size: 1.571em}	/* 22px */
h3 {font-size: 1.429em}	/* 20px */
h4 {font-size: 1.286em}	/* 18px */
h5 {font-size: 1.143em}	/* 16px */
h6 {font-size: 1em}		/* 14px */

.bold { font-weight: bold; }

.sans-serif { font-family: 'Futura', 'Helvetica Neue', Verdana, Arial, sans-serif; }

.seasonal { color: @hint-color; }

.seasonal-bg {
  background-color: @hint-color;
  color: @back-color;
}

.seasonal-hover a:hover {
  background-color: @back-color;
  color: @hint-color !important;
}

.seasonal-bg-hover a:hover {
  background-color: @hint-color;
  color: @back-color !important;
}

/* Extras */
#extras {
  float: right;
  margin: 0px 25px;
  width: 200px;
  h3 {
    border-bottom-style: dotted;
    border-width: 1px;
    margin-bottom: 5px;
    padding-bottom: 5px;
    text-transform: capitalize;
  }
  a {
    color: @fore-color;
    display: inline-block;
    margin: 5px 0px;
    padding: 5px;
    text-decoration: none;
    width: 190px;
  }
  li:last-child { padding-bottom: 15px; }
}

/* Navigation bar */

img {
  border-color: @fore-color;
  border-style: solid;
  border-width: 1px;
  margin: 10px;
  &.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  &.circular {
    border-radius: 50%;
  }
  &.desaturated {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
  }
}

#avatar {
  height: 150px;
  width: 150px;
  &-div {
    display: inline-block;
    width: 100%;
  }
}

#banner {
	background-color: @hint-color;
  margin-bottom: 50px;
  nav {
  	background-color: @fore-color;
  	width: 100%;
    height: 40px;
  }
  a {
    color: @back-color;
    display: inline-block;
    font-weight: bold;
  	float: right;
  	margin: 0;
  	padding: 10px 15px;
    text-decoration: none;
  	text-transform: uppercase;
  }
  .title a {
    float: left;
    font-size: 1.429em;  /* 20pt */
    line-height: 1em;
    text-transform: lowercase;
  }
}

#banner-text {
  color: @back-color;
  position: relative;
  min-height: 150px;
  &.home {
    background-color: @back-color;
    color: @hint-color;
  }
}

#subtitle {
  padding: 0 0 15px 15px;
}

// h1 {
//   margin-bottom: 25px;
//   a {
//     color: #007200;
//     text-decoration: none;
//     &:hover {
//       border-color: #444;
//       color: #444;
//     }
//   }
// }
//
// #featured {
//   max-width: 800px;
//   padding: 0px 50px;
//   ul {
//     list-style: square;
//     list-style-position: inside;
//   }
// }
//
// .body p {
//   font-family: Georgia, "Times New Roman", Times, serif;
//   margin-top: 10px;
// }
//
// .post-info {
//   float: right;
//   margin: 25px 0px 25px 25px;
//   width: 200px;
//   p {
//     font-family: 'Helvetica Neue', Verdana, Arial, sans-serif;
//     margin-top: 0px;
//   }
//
// }
//
// #content {
//   max-width: 800px;
//   padding: 0px 50px;
//   h2 {
//     border-bottom-style: dotted;
//     border-color: #444;
//     border-width: 1px;
//     margin: 25px 0px 10px 0px;
//   }
//   ul {
//     list-style: square;
//     list-style-position: inside;
//   }
// }
//
// article {
//   min-height: 250px;
// }
//
// .hentry {
//   display: block;
//   float: left;
//   max-width: 200px;
//   padding: 10px;
//   h1 {
//     font-size: 1em;
//     line-height: 100%;
//     margin-bottom: 10px;
//     min-height: 2em;
//   }
// }
//
// .highlight { /* formatted code block */
//   background-color: #faf9f6;
//   max-width: 75%;
//   margin: 15px;
//   overflow-x: auto;
//   overflow-y: hidden;
//   padding: 10px;
// }
//
// .readmore { font-family: Georgia, "Times New Roman", Times, serif; }
